.wrapper {
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #D8000C;
    padding: 5px;
}

.result {
  border-top: 1px solid #AAAAAA;
  padding-top: 20px;
}

.artist {
	background-image: url("../images/icons/u32.png");
	background-repeat: no-repeat;
	padding-left: 40px;
	height: 40px;
	line-height: 40px;
}

.location {
	background-image: url("../images/icons/l32.png");
	background-repeat: no-repeat;
	padding-left: 40px;
	height: 40px;
	line-height: 40px;
}

.date {
	background-image: url("../images/icons/c32.png");
	background-repeat: no-repeat;
	padding-left: 40px;
	height: 40px;
	line-height: 40px;
}

.opening-hours {
	background-image: url("../images/icons/oh32.png");
	background-repeat: no-repeat;
	padding-left: 40px;
	height: 40px;
	line-height: 40px;
}

.maps-icon {
	float: right;
	width: 32px;
	height: 32px;
	background: url('../images/icons/e32.png') 0px 0px;
}

.maps-icon:hover{
	cursor: pointer;
	background: url('../images/icons/e32.png') -32px 0px;
}

.dinner-icon {
	float: right;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	background: url('../images/icons/d32.png') 0px 0px;
}

.dinner-icon:hover{
	cursor: pointer;
	background: url('../images/icons/d32.png') -32px 0px;
}

.event-icon {
	float: right;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	background: url('../images/icons/ev32.png') 0px 0px;
}

.event-icon:hover{
	cursor: pointer;
	background: url('../images/icons/ev32.png') -32px 0px;
}

.container-image {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 800px;
  height: 162px;
  top: 0px;
  margin: auto;
}

.container-search {
  margin-top: 50px;
  bottom: 0px;
}

.container-search-adjust {
  margin-top: 5px;
  -webkit-animation: adjust 0.7s;
  animation: adjust 0.7s;
}

.container {
  position:absolute;
  left:0; right:0;
  top:0; bottom:0;
	margin:auto;
  width: 800px;
  height: 400px;

  max-width:100%;
	max-height:100%;
}

.container-movetop {
  padding-top: 10px;
  height: 100%;
  -webkit-animation: movetop 0.7s;
  animation: movetop 0.7s;
}

.container-result {
  padding-top: 20px;
  display: block;
  opacity: 0;
}

.container-result-view {
  opacity: 1;
  -webkit-animation: view 1s;
  animation: view 1s;
}

.map {
	display: none;
	height: 300px;
	width: 100%;
}

.map-show {
	display: block;
	height: 300px;
	-webkit-animation: showheight 1s;
  animation: showheight 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes movetop {
  0%   {height: 400px;}
  100% {height: 100%;}
}

/* Standard syntax */
@keyframes movetop {
  0%   {height: 400px;}
  100% {height: 100%;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes adjust {
  0%   {margin-top: 50px;}
  100% {margin-top: 5px;}
}

/* Standard syntax */
@keyframes adjust {
  0%   {margin-top: 50px;}
  100% {margin-top: 5px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes view {
  0%   {display:block; opacity: 0;}
  90%  {display:block; opacity: 0;}
  100% {display:block; opacity: 1;}
}

/* Standard syntax */
@keyframes view {
  0%   {display:block; opacity: 0;}
  90%  {display:block; opacity: 0;}
  100% {display:block; opacity: 1;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes showheight {
  0%   {display: block; height: 0px;}
  100% {display: block; height: 300px;}
}

/* Standard syntax */
@keyframes showheight {
	0%   {display: block; height: 0px;}
  100% {display: block; height: 300px;}
}

/*
LOADING ANIMATION
*/
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #33C3F0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*
RANGE
*/
body {
  padding: 30px;
}
input[type=range] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  border: 1px solid white;

  /*required for proper track sizing in FF*/
  width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #33C3F0;
  margin-top: -4px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #33C3F0;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type=range]::-ms-track {
  width: 300px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #33C3F0;
}
input[type=range]:focus::-ms-fill-lower {
  background: #888;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ccc;
}