.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #D8000C;
    padding: 5px;
}

.container-image {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 800px;
  height: 162px;
  top: 0px;
  margin: auto;
}

.container-search {
  margin-top: 50px;
  bottom: 0px;
}

.container-search-adjust {
  margin-top: 5px;
  -webkit-animation: adjust 0.7s; /* Chrome, Safari, Opera */
  animation: adjust 0.7s;
}

.container-movetop {
  top: 5%;
  transform: translate(-50%, 0%);
  -webkit-animation: movetop 0.7s; /* Chrome, Safari, Opera */
  animation: movetop 0.7s;
}

.container-result {
  padding-top: 20px;
  display: none;
}

.container-result-view {
  opacity: 1;
  display: block;
  -webkit-animation: view 1s;
  animation: view 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes movetop {
  0%   {top: 50%; transform: translate(-50%, -50%);}
  100% {top: 5%; transform: translate(-50%, 0%);}
}

/* Standard syntax */
@keyframes movetop {
  0%   {top: 50%; transform: translate(-50%, -50%);}
  100% {top: 5%; transform: translate(-50%, 0%);}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes adjust {
  0%   {margin-top: 50px;}
  100% {margin-top: 5px;}
}

/* Standard syntax */
@keyframes adjust {
  0%   {margin-top: 50px;}
  100% {margin-top: 5px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes view {
  0%   {display:none; opacity: 0;}
  70%  {display:block; opacity: 0;}
  100% {display:block; opacity: 1;}
}

/* Standard syntax */
@keyframes view {
  0%   {display:none; opacity: 0;}
  70%  {display:block; opacity: 0;}
  100% {display:block; opacity: 1;}
}

/*
LOADING ANIMATION
*/
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
